An e-commerce company, *Store 1*, recently began collecting data about its customers. Store 1's ultimate goal is to `better understand customer behavior and make data-driven decisions to enhance their online experience.`

As part of the analytics team, your first task is to evaluate the quality of a sample of collected data and prepare it for future analysis.

Questionnaire

Store 1 aims to ensure consistency in data collection. As part of this initiative, the quality of the data collected about users must be evaluated. You have been asked to review the collected data and propose changes. Below you will see data about a particular user; review the data and identify any possible issues.

In [2]:
user_id = '32415'    
user_name = ' mike_reed '
user_age = 32.0 
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

Write in the Markdown cell below the number of the options you have identified as problems. If you have identified several problems, separate them with commas. For example, if you think numbers 1 and 3 are correct, write 1, 3.

**Write your answer and explain your reasoning:**

R= All

1. The data type for user_id should be changed from a string to an integer.
    - **Affirmative, this value should be an integer, so it can be filtered in a search and used with comparison operators. It will be necessary to use the "int()" function.**

2. The variable user_name contains a string with unnecessary spaces and an underscore between the first and last name.
    - **We should always clean the data before working with it; in this case, we will remove the leading and trailing spaces with the .strip() method. As for the underscore, it would be necessary to check with Store1 as the system might have requested a nickname rather than a given name.**

3. The data type of user_age is incorrect.
    - **The argument is correct; age is an integer value, and the "int()" function should be used.**

4. The list `fav_categories` contains uppercase strings. Instead, we should convert the values in the list to lowercase.
    - **I don't consider it necessary or relevant as everything is standardized by being in uppercase.**

# Exercise 1
Let's implement the changes we identified. First, we need to correct the issues with the user_name variable. As we saw, it has unnecessary spaces and an underscore as a separator between the first name and the last name; your goal is to remove the spaces and then replace the underscore with a space.

In [4]:
user_name = ' mike_reed '
user_name = user_name.strip()  # Remove leading and trailing spaces
user_name = user_name.replace("_", " ")  # Replace underscore with space

print(user_name)

mike reed

# Exercise 2

Next, we need to split the updated `user_name` into two substrings to obtain a list containing two values: the string for the first name and the string for the last name.

In [5]:
user_name = 'mike reed'
name_split = user_name.split(" ")  # Split the string at the space

print(name_split)

['mike', 'reed']

# Exercise 3

Great! Now we need to work with the `user_age` variable. As mentioned, it has an incorrect data type. Letâ€™s fix this problem by transforming the data type and displaying the final result.

In [6]:
user_age = 32.0
user_age = int(user_age)  # Convert the age from float to integer

print(user_age)

32

# Exercise 4

As we know, data is not always perfect. We need to consider scenarios where the value of `user_age` cannot be converted to an integer. To prevent our system from crashing, we should take precautions in advance.

Write code that attempts to convert the `user_age` variable to an integer and assigns the transformed value to `user_age_int`. If the attempt fails, display a message asking the user to provide their age as a numerical value with the message: `Please provide your age as a numerical value.`

In [11]:
user_age = 'thirty two'  # The variable storing age as a string

try:
    user_age_int = int(user_age)  # Attempt to convert to integer
except ValueError:
    print("Please provide your age as a numerical value.")  # Handle the error if conversion fails
else:
    print(user_age_int)  # Print the integer value if conversion is successful

Please provide your age as a numerical value.

# Exercise 5

Finally, consider that all favorite categories are stored in uppercase. To fill a new list called `fav_categories_low` with the same categories but in lowercase, iterate over the values in the `fav_categories` list, modify them, and add the new values to the `fav_categories_low` list. As always, display the final result.

In [13]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

for category in fav_categories:
    lower_category =category.lower() 
    fav_categories_low.append(lower_category)

print(fav_categories_low)

['electronics', 'sport', 'books']

# Exercise 6

We have obtained additional information about our users' spending habits, including the amount spent in each of their favorite categories. Management is interested in the following metrics:

- Total amount spent by the user.
- Minimum amount spent. 
- Maximum amount spent.

Let's calculate these values and display them on the screen.

In [15]:
fav_categories_low = ['electronics', 'sports', 'books']
spendings_per_category = [894, 213, 173]
total_amount = sum(spendings_per_category)
max_amount =   max(spendings_per_category)
min_amount =   min(spendings_per_category)

print(total_amount)
print(max_amount)
print(min_amount)

1280
894
173

# Exercise 7

The company wants to offer discounts to its loyal customers. Customers who spend a total amount greater than $1500 are considered loyal and will receive a discount.

Our goal is to create a `while` loop that checks the total amount spent and stops when it is reached. To simulate new purchases, the variable `new_purchase` generates a number between 30 and 80 in each iteration of the loop. This represents the amount of money spent on a new purchase and should be added to the total.

Once the target amount is reached and the `while` loop ends, the final amount should be displayed.

In [39]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent < target_amount:
	new_purchase = randint(30, 80) # generates a random number between 30 and 80
	total_amount_spent += new_purchase 

print(total_amount_spent)

1559

# Exercise 8

Now we have all the information about a customer in the format we want. The management of a company has asked us to propose a way to summarize all the information about a user. Your goal is to create a formatted string that uses information from the `user_id`, `user_name`, and `user_age` variables.

This is the final string we want to create: `User 32415 is mike who is 32 years old.`

In [42]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32
capitalize_name = user_name[0].capitalize()

user_info = f"User {user_id} is {capitalize_name} who is {user_age} years old."  #Second option.

print(user_info)

User 32415 is Mike who is 32 years old.

As you know, companies collect and store data in a particular way. Store 1 wants to store all the information about its customers in a table.

| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

In technical terms, a table is simply a nested list containing a sublist for each user.

Store 1 has created such a table for its users. It is stored in the variable `users`. Each sublist contains the user's ID, first and last name, age, favorite categories, and the amount spent in each category.

# Exercise 9

To calculate the company's revenue, follow these steps:

1. Use a `for` loop to iterate over the `users` list.
2. Extract each user's spending list and sum the values.
3. Update the revenue value with each user's total.

This will give you the total revenue for the company, which you should display on the screen at the end.

In [44]:
users = [
    # This is the start of the first sublist
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
        [894, 213, 173]
    ], # This is the end of the first sublist

    # This is the start of the second sublist
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'],
        [439, 390]
    ] # This is the end of the second sublist
]

revenue = 0

for user in users:
    spendings_list = user[4]  # Extracts the spending list of each user
    total_spendings = sum(spendings_list)  # Total spends by user
    revenue += total_spendings  # Updates the revenue

print(revenue)

2109

# Exercise 10

Iterate over the list of users we have provided and display the names of customers who are under 30 years old.

In [45]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

for user in users:
    if user[2]<30:
        print(user[1][0].capitalize())

Kate
Samantha
Emily
Jose
James

# Exercise 11

Let's combine tasks 9 and 10 and print the names of users who are under 30 years old and have a total spending greater than $1000.

In [46]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]


for user in users:
    if user[2]<30 and sum(user[4])>1000:
        print(user[1][0].capitalize())

Samantha
James

# Exercise 12

Now let's display the name and age of all users who have purchased clothing. Print the name and age in the same `print` statement.

In [48]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

for user in users:
    if "clothes" in user[3]:
        user_name = user[1][0].capitalize()
        user_age = user[2]
        print(user_name, user_age)

Kate 24
Samantha 29
Maria 33
Lisa 35
James 28